.mainDivProducts {
    height: 601px;
    margin: 120px 251px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    gap: 25px 0;
}

.divProduct {
    width: 218px;
    height: 285px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    box-shadow: 0px 2px 8px 0px #00000022;
}

.divName {
    width: 124px;
    height: 38px;
}

.buyBtn {
    width: 218px;
    height: 31.91px;
    border-radius: 0px 0px 8px 8px;
    background-color: #0F52BA;
    border-style: none;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buyBtn p {
    margin-left: 10px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
}

@media (max-width: 380px) {
    .mainDivProducts {
        height: 601px;
        margin: 20px 0;
        gap: 15px 0;
    }

    .divProduct {
        width: 250px;
        height: 328px;
    }
}