$white:#EEEEEE;
$blue:#0F52BA;
$black:#000000;
$lightGray: #BFBFBF;
$grey:#373737;
$lightBlack: #00000022;
 
:export {
  white: $white;
  blue: $blue;
  black: $black;
  lightGray: $lightGray;
  grey: $grey;
  lightBlack: $lightBlack
}